.form-section {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
}
.btn {
  background-color: var(--color-primary);
  color: white;
  border-width: none;
  border-style: none;
  font-size: 2rem;
  padding: 1rem 1.5rem;
}
